In [1]:
conda install -c conda-forge pandas-profiling

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - pandas-profiling


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-profiling-1.4.1     |                0          40 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          40 KB

The following NEW packages will be INSTALLED:

  pandas-profiling   conda-forge/win-64::pandas-profiling-1.4.1-0
  python_abi         conda-forge/win-64::python_abi-3.8-2_cp38

The following packages will be UPDATED:

  conda              pkgs/main::conda-4.10.1-py38haa95532_1 --> conda-forge::conda-4.10.3-py38haa244fe_0



Downloading and Extracting Packages

pandas-profiling-1.4 | 40 KB     |            |   0%
pandas-profiling-1.4 | 40 KB     | ####       |  40%
pandas-profiling-1.4 | 40 KB     | ########## | 100%
pandas-profiling-1.4 | 40 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... failed

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 4.10.1
  latest version: 4.10.3

Please update conda by running

    $ conda update -n base -c defaults conda



EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\ProgramData\Anaconda3

In [2]:
# Import the necessary libraries
import pandas as pd#Data Wrangling
import numpy as np#Numpy array


import matplotlib.pyplot as plt#Visualization
import seaborn as sns#Visualization
#%matplotlib inline


import pandas_profiling#Descriptive Analytics

In [3]:
import warnings
warnings.filterwarnings('ignore')

# Read Data

In [4]:
df = pd.read_csv('./IPL IMB381IPL2013.csv')

# Look at few records

## first 5 records

In [5]:
df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [6]:
pfr = pandas_profiling.ProfileReport(df)

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [ ]:
pfr.to_file("IPL_Data_Analysis.html")